var lineFeed = function (content) {
  if (!content) {
    return
  }
  var reg = getRegExp('\\\\n', 'g')
  return content.replace(reg, '\n' + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}
var limit = function(arr, length) {
  return arr.splice(0, length)
}
var tagFilter = function(index) {
  return index === 0 ? 'exClass1': '' || index === 1 ? 'exClass2' : ''
}

module.exports = {
  lineFeed: lineFeed,
  limit: limit,
  tagFilter: tagFilter
}